<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <link rel="stylesheet" th:href="@{/assets/login/login.css}" />
        <script th:src="@{/assets/login/login.js}"></script>
    </head>
    <header>
        <a href="index.html" class="imagen">
            <img src="/assets/login/logo.png" alt="" width="160px" height="40px">
        </a>
    </header>
    <body>
        <form th:action="@{/auth/login}" method="post" class="container">
            <div>
                <label class="input" >User Name</label>
                <br>
                <input type="text" size ="50" name="username" />
            </div>
            <br>
            <div>
                <label class="input" >Password</label>
                <br>
                <input type="password" size="50" name="password" />
            </div>
            <br>
            <input type="submit" value="LOGIN" class="boton"/>
        </form>
    </body>
</html>


